/**
    * Estilos por defecto.
    * Pueden eliminar todo.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@-webkit-keyframes ocrendhi {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes ocrendhi {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    color: #0068a6;
    transition: color 0.3s;

    &:focus, &:hover {
        color: #067ebd
    }
}

.box-ocrend {
    opacity: 0;
    animation: ocrendhi 2s ease-out 0s forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    > div {
        padding-top: 10px
    }

    > h1, > p {
        color: #041830
    }

    form {
        max-width: 500px;
        width: 100%;

        label {
            display: block;
        }
        input {
            width: 100%;
            display: block;
            border-radius: 4px;
            border: 1px solid rgb(218, 216, 216);
            height: 30px;
            margin-bottom: 10px;
        }
        button {
            background-color: #041830;
            border: 1px solid #041830;
            color: white;
            padding: 10px;
            border-radius: 4px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                background-color: #083163;
            }
        }
    }
}

.router-link-active {
    font-weight: bold;
}

.container{
    padding-top: 90px;
}

.container-fluid{
    padding-top: 90px;
}